#defaultPhotos{visibility:hidden;
position:absolute;
top:295px;
width:167px;
z-index:100;
}

/*
extra styles for the main .css file
*/



/*----- Carousel styles------------*/
.jcarousel-skin-tango .jcarousel-container {

    background: #f5f3e5;
    border: 1px solid #346F97;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}


.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 155px;
    height: 480px;
    padding:26px 5px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}


.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  155px;
    height: 480px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 160px;
    height: 160px;
    margin-bottom:20px;
}

.jcarousel-skin-tango li{
	    background:url(../images/photo-bg-off.png) top left no-repeat;
	    width:160px;
	    height:160px;
}
.jcarousel-skin-tango li img{margin:5px;border:1px solid #ccc;}
.jcarousel-skin-tango li:hover{background:url(../images/photo-bg.png) top left no-repeat;}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin:0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Arrow Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 156px;
    height: 17px;
    cursor: pointer;
    background: transparent url(../images/arrow-bottom.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 156px;
    height: 17px;
    cursor: pointer;
    background: transparent url(../images/arrow-top.png) no-repeat 0 0;
}
/* ---- close button ------ */
#carousel_close
{
	width:51px;
	height:25px;
	 background: transparent url(../images/btn-close.png) no-repeat 0 0;
	 float:right;
}
/* --- disabling prev and next arrows  ---- */
.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background: transparent url(../images/arrow-bottom-off.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background: transparent url(../images/arrow-top-off.png) no-repeat 0 0;
}