body {
	font-family: sans-serif;
}
::-moz-selection {
	background: #000;
	color:#fff;
	text-shadow: none;
}
::selection {
	background:#000;
	color:#fff;
	text-shadow: none;
}
a:link {
	-webkit-tap-highlight-color: #666;
}

/* FONTS */
@font-face {
    font-family: 'pts';
    src: url('../fonts/pts55f-webfont.eot');
    src: url('../fonts/pts55f-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pts55f-webfont.woff') format('woff'),
         url('../fonts/pts55f-webfont.ttf') format('truetype'),
         url('../fonts/pts55f-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fs';
    src: url('../fonts/folk-solid-webfont.eot');
    src: url('../fonts/folk-solid-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/folk-solid-webfont.woff') format('woff'),
         url('../fonts/folk-solid-webfont.ttf') format('truetype'),
         url('../fonts/folk-solid-webfont.svg#Folksolid') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ANIMATIONS */
@-webkit-keyframes spring-in {
	0% {
		-webkit-transform: scale3d(0.1,0.1,0.1);
	}
	70% {
		-webkit-transform: scale3d(1.5,1.5,1.5);
	}
	80% {
		-webkit-transform: scale3d(0.5,0.5,0.5);
	}
	90% {
		-webkit-transform: scale3d(1.2,1.2,1.2);
	}
	95% {
		-webkit-transform: scale3d(0.8,0.8,0.8);
	}
	100% {
		-webkit-transform: scale3d(1,1,1);
	}
}
@-moz-keyframes spring-in {
	0% {
		-moz-transform: scale3d(0.2,0.2,0.2);
	}
	80% {
		-moz-transform: scale3d(1.2,1.2,1.2);
	}
	90% {
		-moz-transform: scale3d(0.9,0.9,0.9);
	}
	95% {
		-moz-transform: scale3d(1.1,1.1,1.1);
	}
	100% {
		-moz-transform: scale3d(1,1,1);
	}
}
@-ms-keyframes spring-in {
	0% {
		-ms-transform: scale3d(0.2,0.2,0.2);
	}
	80% {
		-ms-transform: scale3d(1.2,1.2,1.2);
	}
	90% {
		-ms-transform: scale3d(0.9,0.9,0.9);
	}
	95% {
		-ms-transform: scale3d(1.1,1.1,1.1);
	}
	100% {
		-ms-transform: scale3d(1,1,1);
	}
}
@-o-keyframes spring-in {
	0% {
		-o-transform: scale3d(0.2,0.2,0.2);
	}
	80% {
		-o-transform: scale3d(1.2,1.2,1.2);
	}
	90% {
		-o-transform: scale3d(0.9,0.9,0.9);
	}
	95% {
		-o-transform: scale3d(1.1,1.1,1.1);
	}
	100% {
		-o-transform: scale3d(1,1,1);
	}
}
@keyframes spring-in {
	0% {
		transform: scale3d(0.2,0.2,0.2);
	}
	80% {
		transform: scale3d(1.2,1.2,1.2);
	}
	90% {
		transform: scale3d(0.9,0.9,0.9);
	}
	95% {
		transform: scale3d(1.1,1.1,1.1);
	}
	100% {
		transform: scale3d(1,1,1);
	}
}