@{
    ViewBag.Title = "Index";
}
<section id="project">
    <h2>Project Details</h2>
    <div class="row">
    <div class="span8">
      <table class="table table-bordered table-striped">
        <colgroup>
          <col class="span1">
          <col class="span7">
        </colgroup>
        <thead>
          <tr>
            <th>Tag</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Name
            </td>
            <td>
              <h4>Kraft Singles Map</h4>
              "Put your love on the map"
            </td>
          </tr>
          <tr>
            <td>
              Profile
            </td>
            <td>
              Facebook Tab App
            </td>
          </tr>
          <tr>
            <td>
              SOW
            </td>
            <td>
              KRAFT-FBSM
            </td>
          </tr>
          <tr>
            <td>
              URL
            </td>
            <td>
              http://SinglesMap.KraftFoods.com
            </td>
          </tr>
          <tr>
            <td>
              SVN
            </td>
            <td>
              http://svn.360i.com/svn/KraftSingles/tags/Production_APR012012
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span16 row">
<code>
<span class="tag">&lt;FacebookConfiguration&gt;</span><br />
<span class="pln">  </span><span class="tag">&lt;facebookConfigurations Default="production360i"&gt;</span><br />
<span class="pln">    </span><span class="tag">&lt;add key="production360i" appId="239100692825151" appSecret="28eab5a7av4r22277f64bc7c08e43018" pageId="12345678" accessToken="PPADxo5pEozABAIv6bnl3XXdbZAcIdEddK4js9lf6ICOUJy7HV2AN2we1wnZA2dVy4D5jArr4RStBXud6twF3HOGuoNgoV2ObX40ZCTXIBEZB29C6xpHE" &gt;</span><br />
<span class="pln">  </span><span class="tag">&lt;/facebookConfigurations&gt;</span><br />
<span class="tag">&lt;/FacebookConfiguration&gt;</span><br />
</code>
    </div>
  </div>
</section>
