<header class="jumbotron subhead" id="overview">
  <h1>Managed Projects</h1>
  <p class="lead">Hunnae jest compewter neether. Wuv nozbody herrow winz chz invizible yu invizible watzzup</p>
</header>
<section>
    <div class="span16">
        <div class="well" style="padding: 8px 0;">
                <ul class="nav nav-list">
                  <li class="nav-header">Projects</li>
                  <li class="active"><a href="#"><i class="icon-white icon-briefcase"></i> Kraft</a></li>
                  <li><a href="#"><i class="icon-star"></i> Chef Orepeza</a></li>
                  <li><a href="#"><i class="icon-star"></i> Huddle Against Hunger</a></li>
                  <li><a href="#"><i class="icon-star"></i> Oreo</a></li>
                  <li class="active"><a href="#"><i class="icon-white icon-briefcase"></i> Odwalla</a></li>
                  <li><a href="#"><i class="icon-star"></i> Juice Something</a></li>
                  <li class="active"><a href="#"><i class="icon-white icon-briefcase"></i> Philly</a></li>
                  <li><a href="#"><i class="icon-star"></i> Pinterest Project</a></li>
                </ul>
        </div>    
    </div>
</section>
