<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Groundfloor Directory</title>

    <meta name="p3p" content="CP=\"CAO PSA OUR\"" />
		<link rel="dns-prefetch" href="//ajax.googleapis.com">
		<link rel="dns-prefetch" href="//html5shim.googlecode.com">

		<!-- SEO STUFF -->
		<meta name="author" content="360i" />
		
		<!-- IE STUFF -->
		<meta http-equiv="imagetoolbar" content="false" />

	<link rel="canonical" href="" />
	<link rel="shortlink" href="" />

	<!-- BROWSER STUFF -->
	<link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="" />
	<link rel="search" title="" type="application/opensearchdescription+xml" href="" />

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="~/Scripts/lib/modernizr-2.5.3-respond-1.1.0.min.js" type="text/javascript"></script>
    <script src="~/scripts/lib/bootstrap/tab.js"></script>
    <script src="~/scripts/lib/bootstrap/bootstrap-dropdown.js"></script>
	<script>
	    var elRoot = document.documentElement,
			isFB = elRoot.offsetWidth <= 520;

	    if (isFB) {
	        elRoot.className += ' singles-map-facebook';
	    }
	</script>
    <link rel="Stylesheet" href="~/content/css/bootstrap.css" />
    <script src="~/Scripts/lib/jsrender.js"></script>

    @RenderSection("HeadSectionIncludes", false)
    
    <base href="~/" />
</head>

<body data-spy="scroll" data-offset="50" style="padding-top:90px;">
    @{Html.RenderPartial("NavBar");}
    <div class="container">
        @RenderBody()
    </div>
<footer style="position:fixed; bottom:0;">
<div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner">
        <div class="container">
          <span>Brought to you by those wacky folks in the  C&amp;T department.</span>
        </div>
      </div>
</div>
</footer>
</body>
</html>
