<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <span class="brand">Groundfloor Directory</span>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="~/Home/Index"><i class="icon-home icon-white"></i> Home</a></li>
              <li class=""><a href="~/Home/Insight"><i class="icon-th-large icon-white"></i> Insight</a></li>
              <li class=""><a href="~/Home/Configuration"><i class="icon-cog icon-white"></i> Configure</a></li>
            </ul>
            <ul class="nav pull-right">
                <li class="divider-vertical"></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-briefcase icon-white"></i> Kraft Singles Map <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="~/Project/Manage">Manage App</a></li>
                    <li><a href="~/Home/Logs">View Logs</a></li>
                    <li class="divider"></li>
                    <li><a href="~/Project/Index">Project Details</a></li>
                    <li class="divider"></li>
                    <li><a href="~/Project/Switch">Switch Project</a></li>
                  </ul>
                </li>
                <li class="divider-vertical"></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-user icon-white"></i> Keith <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="~/Account/LogOff">Logout</a></li>
                  </ul>
                </li>
            </ul>          
          </div>
        </div>
      </div>
</div>        
