<?xml version="1.0" encoding="utf-8" ?>
<configSections>
  <section name="AppServices" type="Groundfloor.Web.Config.AppServicesSettings, Groundfloor" />
</configSections>

<AppServices enabled="true" requestTTLSeconds="3600">
  <methods>
    <add method="list" enabled="false" />
    <add method="list-config" enabled="false" />
    <add method="recycle" />
    <add method="clear-cache" />
    <add method="list-cache" />
    <add method="list-assemblies" />
    <add method="recipe-stats" type="MixThingsUp.Services.AdminMethods, MixThingsUp" />
  </methods>
</AppServices>
