<section>   
    <div class="hero-unit row">
        <h2 class="row">Kraft Singles Map</h2>
        <img src="~/projects/kraft/singlesmap/avatar.png" alt="Kraft Singles Map" style="height: 200px;
            width: 250px; padding-right: 50px;" class="span4" />
        <h6>
            Site Stats</h6>
        <p>
            <span class="badge badge-success">100</span> Approved Stories.
            <br />
            <span class="badge badge-warning">15</span> Stories Awaiting Approval.
            <br />
            <span class="badge badge-important">7</span> Stories Not Approved.
            <br />
            <span class="badge badge-info">122</span> Total Stories.
        </p>
    </div>
    <div class="span16">
        <ul class="nav nav-list">
            <li class="nav-header">Related Links</li>
            <li class="divider"></li>
            <li><a href="http://sitelifestage.kraftrecipes.com/ver1.0/CMW/Moderation/index.rails"
                target="_blank"><i class="icon-eye-open"></i>Content Moderation Tool </a>
                <div class="alert alert-info">
                    The Pluck Moderation Manager is part of the Community Management Workbench.
                    <br />
                    This is where community-submitted photos and stories can be reviewed and approved.
                    <br />
                    Only approved content will appear on the Kraft singles map.
                </div>
            </li>
            <li class="divider"></li>
            <li><a href="http://stg.kraftrecipes.com/Registration/ContextualSignUpLogin.aspx?returnURL=http%3a%2f%2fsitelifestage.kraftrecipes.com%2fver1.0%2fCMW%2fOverview"
                target="_blank"><i class="icon-bookmark"></i>Kraft Recipes </a>
                <div class="alert alert-info">
                    Only authorized Kraft users may acces the Pluck Moderation System.
                    <p>
                        You may need to login here first.
                        <h6>
                            Login credentials:</h6>
                        <strong>u:</strong> 360i_dev
                        <br />
                        <strong>p:</strong> *****
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>