<?xml version="1.0" encoding="utf-8" ?>
<configSections>
  <section name="ScheduledAppSettings" type="Groundfloor.ScheduledAppSettings, Groundfloor" />
</configSections>

<ScheduledAppSettings>
  <AppSettings>
    <add key="PageLink" value="http://someurl" from="06/15/2012 19:00" to="07/15/2012 0:00" />
    <add key="PageLink" value="http://someotherurl" from="06/15/2012 19:00" to="07/15/2012 0:00" />
  </AppSettings>
</ScheduledAppSettings>
