<?xml version="1.0" encoding="utf-8" ?>
<configSections>
  <section name="PluckConfiguration" type="Groundfloor.Pluck.Config.PluckConfigSection, Groundfloor" />
</configSections>

<PluckConfiguration>
  <pluckConfigurations Default="local2">
    <add key="local2" galleryKey="47d6230c-1481-4292-908d-19c324743269" sharedSecret="e394f2f2-0aae-4084-bff4-f34cf7f01f94" userKey="b2b5a44db95dbb81ff69c54b5e793ec9" userNickname="360i_dev" userEmail="tnam@360i.com" apiUrl="http://sitelifestage.kraftrecipes.com/ver1.0/daapi2.api" uploadUrl="http://sitelifestage.kraftrecipes.com/ver1.0/Photo/Upload" />
    <add key="production" galleryKey="f00be9d7-db44-44cc-a16f-5fc98066f5a3" sharedSecret="e394f2f2-0aae-4084-bff4-f34cf7f01f94" userKey="b2b5a44db95dbb81ff69c54b5e793ec9" userNickname="360i_dev" userEmail="tnam@360i.com" apiUrl="http://sitelife.kraftrecipes.com/ver1.0/daapi2.api" uploadUrl="http://sitelife.kraftrecipes.com/ver1.0/Photo/Upload" />
  </pluckConfigurations>
</PluckConfiguration>
