<?xml version="1.0" encoding="utf-8" ?>
<configSections>
  <section name="FacebookConfiguration" type="Groundfloor.Facebook.Config.FacebookConfigSection, Groundfloor" />
</configSections>

<FacebookConfiguration>
  <facebookConfigurations Default="production360i">
    <add key="local" appId="265684970152752" appSecret="97eab5a7a1dd42277f64bc7c08e43018" pageUrl="http://www.facebook.com/pages/360i-Dev-Work/171492099609674?sk=app_{0}" accessToken="AAADxo5pEozABAIv6bnl3XXdbZAcIdEddK4js9lf7ICOUJy7HV2AN2we1waZA2dVy4D5jArr4RStBXud6twF2HOGuoNgoV2ObX40ZCTAIBEZB29C6xpHE" />
    <add key="stage" appId="217135038362688" appSecret="70e1e7b25ba21d3e7f4893d43d8cdcdf" pageUrl="http://www.facebook.com/pages/sandbox-574/115150495179555?sk=app_{0}" />
    <add key="production" appId="217135038362688" appSecret="70e1e7b25ba21d3e7f4893d43d8cdcdf" pageUrl="http://www.facebook.com/pages/360i-Dev-Work/171492099609674?sk=app_{0}" />
  </facebookConfigurations>
</FacebookConfiguration>
